{{#if this.siteSettings.topic_trade_buttons_enabled}}
  <section class="field">
    <div class="enable-sold-button">
      <label class="checkbox-label">
        {{input type="checkbox" checked=this.category.enable_sold_button}}
        {{i18n "topic_trading.enable_sold_button"}}
      </label>
    </div>
    <div class="enable-purchased-button">
      <label class="checkbox-label">
        {{input type="checkbox" checked=this.category.enable_purchased_button}}
        {{i18n "topic_trading.enable_purchased_button"}}
      </label>
    </div>
    <div class="enable-exchanged-button">
      <label class="checkbox-label">
        {{input type="checkbox" checked=this.category.enable_exchanged_button}}
        {{i18n "topic_trading.enable_exchanged_button"}}
      </label>
    </div>
    <div class="enable-cancelled-button">
      <label class="checkbox-label">
        {{input type="checkbox" checked=this.category.enable_cancelled_button}}
        {{i18n "topic_trading.enable_cancelled_button"}}
      </label>
    </div>
  </section>
{{/if}}